.profile_container {
	max-width: 945px;
	margin: 0 auto;
}

.profile_wrap {
	color: var(--color-primary);
	.profile_top {
		margin-top: 56px;
		box-shadow: 0 1px 2px var(--shadow-1);
		background-color: var(--bg-primary);
		.profile_container {
			.profile_cover {
				position: relative;
				width: 100%;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
				background: var(--bg-secondary);
				img {
					width: 100%;
					object-fit: cover;
					border-radius: 3px;
				}
				.save_changes_cover {
					z-index: 9999999;
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					padding: 10px 15px;
					background-color: rgba(255, 255, 255, 0.7);
					.left {
						display: flex;
						align-items: center;
						gap: 10px;
						span {
							color: #000;
						}
					}
					.right {
						display: flex;
						align-items: center;
						gap: 10px;
						button {
							&:first-child {
								opacity: 0.8;
								background-color: aliceblue;
								color: #000;
							}
						}
					}
				}
				.cover_cropper {
					img {
						width: 100%;
						object-fit: cover;
					}
				}
				.update_cover_wrapper {
					position: absolute;
					bottom: 1rem;
					right: 1rem;
					.open_cover_update {
						background: #fff;
						padding: 10px 15px;
						display: flex;
						align-items: center;
						gap: 10px;
						font-weight: 600;
						font-size: 14px;
						color: #111;
						border-radius: 4px;
						cursor: pointer;
						i {
							transform: scale(0.9);
							margin-top: 2px;
						}
					}
					.open_cover_menu {
						background-color: var(--bg-primary);
						position: absolute;
						right: 0;
						top: 48px;
						padding: 10px;
						width: 300px;
						border-radius: 4px;
						box-shadow: 0 12px 20px 0 var(--shadow-1);
						z-index: 99;
						animation: animateMe 0.15s ease-in-out;
						.open_cover_menu_item {
							display: flex;
							align-items: center;
							gap: 10px;
							padding: 10px;
							cursor: pointer;
							font-weight: 600;
							font-size: 14px;
							border-radius: 4px;
						}
					}
				}
			}
		}
	}
}

// PPInfos.tsx
.profile_img_wrap {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	margin-bottom: -2.8rem;
	.profile_w_left {
		display: flex;
		gap: 1rem;
		padding: 1rem 13px 0 13px;
		.profile_w_img {
			position: relative;
			.profile_w_bg {
				width: 180px;
				height: 180px;
				transform: translateY(-3.6rem);
				border-radius: 50%;
				background-repeat: no-repeat;
				background-color: #fff;
				border: 2px solid #fff;
				cursor: pointer;
				&:hover {
					filter: brightness(95%);
				}
			}
			.profile_circle {
				position: absolute;
				bottom: 4.9rem;
				right: 0.55rem;
				background-color: var(--bg-third);
				width: 36px;
				height: 36px;
				display: grid;
				place-items: center;
				cursor: pointer;
				border-radius: 50%;
			}
		}
		.profile_w_col {
			.profile_name {
				display: flex;
				align-items: center;
				gap: 10px;
				font-weight: 600;
				font-size: 32px;
				.other_name {
					color: var(--color-secondary);
					font-weight: normal;
					font-size: 20px;
				}
			}
		}
	}
	.profile_w_right {
		display: flex;
		gap: 10px;
		padding: 0 10px;
		margin-bottom: 7px;
		.invert {
			filter: invert(100%);
		}
	}
}

// Menu
.profile_menu_wrap {
	position: relative;
	padding: 0 2.2rem;
	.profile_menu {
		position: relative;
		border-top: 1px solid var(--border-color);
		display: flex;
		gap: 20px;
		padding: 0;
		overflow-x: auto;
		a {
			height: 54px;
			width: 78.5px;
			font-weight: 600;
			font-size: 14px;
			cursor: pointer;
			text-decoration: none;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 10px;
			margin: 3px 0;
			white-space: nowrap;
			color: var(--color-secondary);
		}
		.profile_menu_active {
			height: 60px;
			width: 65px;
			margin: 0;
			color: var(--blue-color);
			border-bottom: 3px solid var(--blue-color);
			border-radius: 0;
		}
		.p10_dots {
			background: var(--bg-third);
			position: absolute;
			right: 0;
			bottom: 15px;
			border-radius: 5px;
			display: grid;
			place-items: center;
			padding: 8px 14px;
			svg {
				width: 16px;
				height: 16px;
				margin-top: 2px;
				margin-left: 2px;
			}
		}
	}
}

// PeopleYouMayKnow
.profile_bottom {
	margin-top: 1px;
	background-color: var(--bg-secondary);
	.profile_container {
		.bottom_container {
			padding: 10px 2.2rem;
			.pplyoumayknow {
				width: 100%;
				height: 100%;
				border-radius: 5px;
				border: 3px solid var(--blue-color);
				padding: 10px 15px;
				background-color: #fff;
				.header {
					display: flex;
					align-items: center;
					justify-content: space-between;
					font-weight: 600;
					font-size: 16px;
					margin-bottom: 15px;
				}
				.pplyoumayknow_list {
					display: grid;
					grid-template-columns: repeat(
						auto-fill,
						minmax(150px, 1fr)
					);
					grid-auto-flow: column;
					grid-auto-columns: minmax(150px, 1fr);
					gap: 10px;
					overflow-x: auto;
					height: 240px;
					.add_friend_card {
						position: relative;
						height: 100%;
						border-radius: 5px;
						overflow: hidden;
						background: var(--bg-primary);
						box-shadow: 0 1px 2px var(--shadow-1);
						grid-row: 1;
						grid-column: auto;
						.add_friend_img {
							width: 100%;
							height: 140px;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
						.add_friend_infos {
							padding: 10px;
							text-align: center;
							display: flex;
							flex-direction: column;
							gap: 5px;
							.name {
								font-size: 16px;
								font-weight: 600;
							}
							img {
								width: 18px;
							}
						}
					}
				}
			}
			.scrollFixed {
				.profile_left {
					position: fixed;
					width: 370px;
				}
				.profile_right {
					margin-left: 380px;
					width: 523px;
				}
			}
			.showLess {
				.profile_left {
					bottom: 10px;
				}
			}
			.showMore {
				.profile_left {
					top: 54px;
				}
			}
			.profile_grid {
				display: grid;
				grid-template-columns: 1fr 1.4fr;
				gap: 10px;
				.profile_left {
					.profile_card {
						background-color: var(--bg-primary);
						border-radius: 4px;
						box-shadow: 0 1px 2px var(--shadow-1);
						padding: 10px 15px;
						margin-top: 1.1rem;
						.profile_card_header {
							display: flex;
							align-items: center;
							justify-content: space-between;
							font-weight: 600;
							font-size: 16px;
							.profile_header_link {
								font-weight: normal;
								font-size: 14px;
								padding: 5px 10px;
								border-radius: 3px;
								color: var(--blue-color);
								cursor: pointer;
								&:hover {
									background-color: var(--bg-secondary);
								}
							}
						}
						.profile_card_count {
							color: var(--color-secondary);
							font-size: 14px;
						}
						.profile_card_grid {
							display: grid;
							grid-template-columns: repeat(3, 1fr);
							gap: 4px;
							margin-top: 10px;
							.profile_photo_card {
								width: 100%;
								height: 100%;
								cursor: pointer;
								img {
									width: 100%;
									height: 100px;
									object-fit: cover;
									border-radius: 3px;
								}
							}
						}
					}
				}
			}
		}
	}
}

// GridPosts
.left_header_grid {
	font-size: 22px;
	font-weight: 600;
}

@keyframes animateMe {
	0% {
		transform: scale(0);
		transform-origin: top right;
	}
	100% {
		transform: scale(1);
		transform-origin: top right;
	}
}

// media
@media (max-width: 900px) {
	.profile_w_left {
		flex-direction: column;
		align-items: center;
	}
	.profile_w_col {
		transform: translateY(-3.6rem);
	}
	.profile_w_right {
		transform: translateY(-3.6rem);
	}
	.profile_img_wrap {
		flex-direction: column;
		justify-content: center;
	}
	.profile_w_img {
		.profile_circle {
			right: 1rem;
		}
	}
	.profile_name {
		padding-bottom: 10px;
		flex-direction: column;
	}
	.profile_bottom {
		.profile_container {
			.bottom_container {
				.profile_grid {
					grid-template-columns: 1fr;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.profile_menu_wrap {
		.profile_menu {
			.p10_dots {
				display: none;
			}
		}
	}
	.profile_bottom {
		.profile_container {
			.bottom_container {
				padding: 5px;
			}
		}
	}
	.profile_wrap {
		.profile_top {
			.profile_container {
				.profile_cover {
					.update_cover_wrapper {
						bottom: 3rem;
					}
				}
			}
		}
	}
}
