.blue_btn {
	border: none;
	outline: none;
	background-color: var(--blue-color);
	padding: 8.5px 12px;
	border-radius: 3px;
	font-family: inherit;
	font-weight: 600;
	font-size: 14px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	cursor: pointer;
}

.open_signup {
	background-color: var(--green-color);
	width: 75% !important;
	font-weight: 600 !important;
	font-size: 15px !important;
	margin-top: 1rem;
	letter-spacing: 1.2px !important;
}

.blur {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 99;
	overflow: hidden;
}
