.shared_btn {
	border: none;
	outline: none;
	padding: 8px 14px;
	border-radius: 5px;
	font-family: inherit;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	cursor: pointer;
}

.blue_btn {
	@extend .shared_btn;
	background-color: var(--blue-color);
	color: #fff;
	font-weight: 600;
}

.gray_btn {
	@extend .shared_btn;
	background-color: var(--bg-third);
	color: #000;
	font-weight: 600;
}

.blue_btn,
.gray_btn {
	span {
		transform: translateY(0px);
	}
}

.light_blue_btn {
	@extend .shared_btn;
	background-color: var(--light-blue-color);
	color: var(--blue-color);
}
