.create_comment_wrap {
	margin-bottom: 20px;
	.create_comment {
		display: flex;
		align-items: center;
		gap: 5px;
		img {
			width: 35px;
			height: 35px;
			border-radius: 50%;
			object-fit: cover;
		}
		.comment_input_wrap {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			background-color: var(--bg-forth);
			border-radius: 50px;
			padding-right: 10px;
			z-index: 9999;
			.comment_emoji_picker {
				position: absolute;
				right: 0;
				bottom: 3.6rem;
			}
			input {
				outline: none;
				border: none;
				flex: 1;
				height: 35px;
				padding: 0 10px;
				color: var(--color-primary);
				background: transparent;
			}
			.comment_circle_icon {
				display: grid;
				place-items: center;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				cursor: pointer;
			}
		}
	}
	.comment_image_preview {
		position: relative;
		margin-top: 15px;
		margin-left: 40px;
		width: 180px;
		img {
			width: 180px;
			height: 140px;
			object-fit: cover;
			border-radius: 4px;
		}
		.exit {
			position: absolute;
			top: -12px;
			right: -12px;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: var(--bg-forth);
			display: flex;
			align-items: center;
			justify-content: center;
			transform: scale(0.8);
			cursor: pointer;
			i {
				transform: scale(0.68);
			}
		}
	}
}

.comment_wrapper {
	display: flex;
	gap: 10px;
	font-size: 14px;
	margin-bottom: 5px;
	background: rgba(0, 0, 0, 0.03);
	border-radius: 10px;
	padding: 10px;
	.creator_img {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		object-fit: cover;
	}
	.comment_col {
		.comment_wrap {
			.name_and_date {
				display: flex;
				gap: 5px;
				align-items: center;
				flex-wrap: wrap;
				.comment_name {
					font-weight: 600;
				}
				.created_at {
					color: var(--color-secondary);
					font-size: 12px;
				}
			}
			.comment_text {
				margin-top: 5px;
				margin-bottom: 5px;
			}
			.comment_img {
				width: 100%;
				object-fit: cover;
				border-radius: 4px;
			}
			.like_reply {
				display: flex;
				gap: 15px;
				margin-top: 20px;
				span {
					color: var(--color-secondary);
					&:hover {
						text-decoration: underline;
						cursor: pointer;
					}
				}
			}
		}
	}
}
